
@{
    ViewData["Title"] = "EnrollApprove";
}

<h1>EnrollApprove</h1>
<div>
    <div class="row">
        <fieldset>
            <legend>Personalia:</legend>
            <div class="col-md-8">
                <table>
                    <tr><td class="enrollApproveTd">Name</td><td class="enrollApproveTd"> sanjiv kumar pandit</td></tr>
                    <tr><td class="enrollApproveTd">Date of Birth</td><td class="enrollApproveTd"> 20/02/1997</td></tr>
                    <tr><td class="enrollApproveTd">Contact :</td><td class="enrollApproveTd"> 9540991156</td></tr>
                    <tr><td class="enrollApproveTd">Email</td><td class="enrollApproveTd"> sanjiv@gmail.com</td></tr>
                </table>
            </div>
            <div class="col-md-4">
                image
            </div>
        </fieldset>
    </div>
    <div>
        <fieldset>
            <legend>Contact Details:</legend>
            <table>
                <tr><td class="enrollApproveTd">Father Name</td><td class="enrollApproveTd"> Laxman pandit</td></tr>
                <tr><td class="enrollApproveTd">Contact No. </td><td class="enrollApproveTd"> 7258957742</td></tr>
                <tr><td class="enrollApproveTd">Address : </td><td class="enrollApproveTd"> At- sonjori kumhar tola</td></tr>
                <tr><td class="enrollApproveTd">State</td><td class="enrollApproveTd"> Delhi</td></tr>
                <tr><td class="enrollApproveTd">City</td><td class="enrollApproveTd"> Delhi</td></tr>
                <tr><td class="enrollApproveTd">Pin Code</td><td class="enrollApproveTd"> 816102</td></tr>
            </table>
        </fieldset>
    </div>
    <div class="enrollApprove">
        <label class="radio-inline"><input type="radio" name="optradio" checked>Approve</label>
        <label class="radio-inline"><input type="radio" name="optradio">Reject</label>
    </div>
</div>

