@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<div>
    <form id="regForm" method="post">
       
        <div>
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username"></span>
        </div>
        <br />
        <div>
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password"></span>
        </div>
        <br>
        <div>
            <input type="submit" class="form-control btn btn-success" value="Login"/>
        </div>
    </form>

</div>


