@model QuestioModel
@{
    ViewData["Title"] = "Pannel";
}

<h1>Pannel</h1>
<div class="container">
    <h2>Panels with Contextual Classes</h2>
    <div class="panel-group row">
        <div class="panel panel-default col-md-8">
            <div class="panel-heading">Panel with panel-default class</div>
            <div class="panel-body">
                <form id="regForm" >
                    <h1>Register:</h1>
                    <!-- One "tab" for each step in the form: -->
                    <div class="tab">
                        Q1: Please choose correct option
                        <p><input type="radio" asp-for="Q1" oninput="this.className = ''" value="op1">op1</p>
                        <p><input type="radio" asp-for="Q1" oninput="this.className = ''" value="op2">op2</p>
                        <p><input type="radio" asp-for="Q1" oninput="this.className = ''" value="op3">op3</p>
                        <p><input type="radio" asp-for="Q1" oninput="this.className = ''" value="op4">op4</p>

                    </div>
                    <div class="tab">
                        Q2:Please choose correct option
                        <p><input type="radio" asp-for="Q2" oninput="this.className = ''" value="op21">op1</p>
                        <p><input type="radio" asp-for="Q2" oninput="this.className = ''" value="op22">op2</p>
                        <p><input type="radio" asp-for="Q2" oninput="this.className = ''" value="op23">op3</p>
                        <p><input type="radio" asp-for="Q2" oninput="this.className = ''" value="op24">op4</p>
                    </div>
                    <div class="tab">
                        Q3:Please choose correct option
                        <p><input type="radio" asp-for="Q3" oninput="this.className = ''" value="op21">op1</p>
                        <p><input type="radio" asp-for="Q3" oninput="this.className = ''" value="op22">op2</p>
                        <p><input type="radio" asp-for="Q3" oninput="this.className = ''" value="op23">op3</p>
                        <p><input type="radio" asp-for="Q3" oninput="this.className = ''" value="op24">op4</p>
                    </div>
                    <div class="tab">
                        Q4:Please choose correct option
                        <p><input type="radio" asp-for="Q4" oninput="this.className = ''" value="op21">op1</p>
                        <p><input type="radio" asp-for="Q4" oninput="this.className = ''" value="op22">op2</p>
                        <p><input type="radio" asp-for="Q4" oninput="this.className = ''" value="op23">op3</p>
                        <p><input type="radio" asp-for="Q4" oninput="this.className = ''" value="op24">op4</p>
                    </div>
                    <div class="tab">
                        Q5:Please choose correct option
                        <p><input type="radio" asp-for="Q5" oninput="this.className = ''" value="op21">op1</p>
                        <p><input type="radio" asp-for="Q5" oninput="this.className = ''" value="op22">op2</p>
                        <p><input type="radio" asp-for="Q5" oninput="this.className = ''" value="op23">op3</p>
                        <p><input type="radio" asp-for="Q5" oninput="this.className = ''" value="op24">op4</p>
                    </div>


                    <div style="overflow:auto;">
                        <div style="float:right;">
                            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                            <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                        </div>
                    </div>
                    <!-- Circles which indicates the steps of the form: -->
                    <div style="text-align:center;margin-top:40px;">
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel panel-primary col-md-4">
            <div class="panel-heading">Panel with panel-primary class</div>
            <div class="panel-body">
                <input type="button" value="1"  onclick="onPress(this)">
                <input type="button" value="2" onclick="onPress(this)">
                <input type="button" value="3" onclick="onPress(this)">
            </div>
        </div>
    </div>
</div>